.editContactWrapper {
  background-color: #3d4b5d;
  border-radius: 0.375rem;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
}

.dataItem {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.returnBtn {
  padding: 5.5px 15px;
  font-size: 14px;
}

p {
  margin: 0;
}

.editBtn {
  border: none;
  background-color: transparent;
  color: white;
}

.editBtn-text {
  margin-left: 5px;
  padding-bottom: 2px;
  font-size: 16px;
}

.editBtn-text:hover {
  border-bottom: 1px solid white;
}

.editBtn-icon {
  margin-bottom: 4px;
}
