.formItem {
  background-color: #3d4b5d;
  border-radius: 0.375rem;
  padding: 5px 10px 10px;
}

.formLabel {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
}

.formInput, .formInput:focus{
  background-color: transparent;
  border-color: #a0caff;
  box-shadow: none;
  font-size: 14px;
  padding: 3px 10px;
  color: white;
}

.formBtn{
  font-size: 14px;
  padding: 5.5px 15px;
}

.validationError{
  font-size: 10px;
  font-weight: bold;
  color: #f85c5c;
  margin: 0;
}
